.App {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 10px auto;
  padding: 0 15px;
}

.Order-Details {
  width: 45%;
  border: 1px solid black;
}

.AddItems {
  width: 53%;
  border: 1px solid black;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
