.CleanButton {
  background: black;
  color: wheat;
  padding: 5px 10px;
  outline: none;
  border: 1px solid black;
}

.CleanButton:hover {
  background: wheat;
  color: black;
  cursor: pointer;
  border: 1px solid wheat;
}
