.AddButton {
  background: wheat;
  color: black;
  cursor: pointer;
  border: 1px solid wheat;
  outline: none;
  padding: 5px 10px;
}

.AddButton:hover {
  background: black;
  color: wheat;
  border: 1px solid black;
}
