.EmptyBlock {
  border: 1px solid black;
  margin: 30px;
}

.EmptyBlock p {
  margin-left: 30px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
